{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wiki страница не найдена</h1>

    <p>	
	Добавить wiki страницу
        <a href="{{ path('create_first_wiki') }}">add</a>
    </p>
{% endblock %}
